
body {
    background-color: white;
    font-family: "Nanum Gothic", sans-serif;
    color: black;
    line-height: 1.6em;
    padding: 20px;
}

h1 {
    text-align: center;
}

#current-time-container {
    font-size: 20px;
}