#timer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timer {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: calc(50% - 40px); /* Subtract the total left and right padding */
    margin: 10px;
}

.timer label {
    font-weight: bold;
}

.timer span {
    font-size: 2em;
    margin-left: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}